<div class="practical-grading-criteria">
  <div class="practical-grading-criteria__header">Practical Learning Outcome Grading Criteria</div>
  <div class="practical-grading-criteria__table-wrap">
    <table class="practical-grading-criteria__table">
      <thead>
        <tr>
          <th>1 = Poor</th>
          <th>2 = Developing</th>
          <th>3 = Accomplish</th>
          <th>4 = Mastered</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ul>
              <li>Has not had prior experience in performing this skill.</li>
              <li>Requires extensive guidance and coaching to be able to perform at the expected level.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Has shown potential to develop this skill.</li>
              <li>Requires regular guidance and coaching.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Frequently demonstrates this skill effectively in most situations and at the expected level of performance.</li>
              <li>Requires some guidance and coaching in more complex situations.</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Consistently demonstrates this skill beyond the expected level of performance.</li>
              <li>Requires minimal or no guidance, even in complex situations.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
